<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/gestor-modules/gestor-modules.html">
<link rel="import" href="/src/movimientos-registros/movimientos-registros.html">
<link rel="import" href="/src/movimientos-users/movimientos-users.html">


<dom-module id="login-user-app">
  <template>
    <style>
      paper-button {
        background-color: var(--paper-blue-500);
        color: white;
        padding: 7px 200px 20px 200px;
        top: 15px;
      }
      paper-dialog {
        height: 424px;
        width: 600px;
        max-width: 100%;
        top: 200px;
        padding:42px;
      }
      table{
        width: 80%;
      }
      div{
        color : red;
      }
    </style>

    <paper-dialog id="modal" class="scrolling" modal opened="{{dialogLogin}}">


    <iron-form>
      <form method="get" action="/form/handler">
        <table  align="center" >
          <tr>
            <td align="center">
              <iron-image  src="/src/login-user-app/login.png"></iron-image>
            </td>
          </tr>
            <tr>
                <td>
                  <paper-input  type="text" name="user" invalid="{{validateField}}" value="{{user}}" label="User"></paper-input>
                </td>
            </tr>
            <tr>
              <td>
                <paper-input type="text" name="password" passwordid="password"label="Password" value="{{password}}" required></paper-input>
              </td>
            </tr>
            <tr>
              <td>
                <div align="center">
                  <strong>{{error}}</strong>
                </div>
              </td>
            </tr>

            <tr >
              <td>
                  <paper-button raised on-tap="_login">INGRESAR</paper-button>
              </td>

            </tr>
        </table>
      </form>
    </iron-form>
    </paper-dialog>


    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>
    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      <gestor-modules page="gestor-modules"></gestor-modules>
      <movimientos-registros page="movimientos-registros"></movimientos-registros>
      <movimientos-users page="movimientos-users"></movimientos-users>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
      class LoginUserApp extends Polymer.Element {
        static get is() { return 'login-user-app'; }
        static get properties() {
          return {
            prop1: {
              type: String,
              value: 'PASjfdalsjdfajdslkfjsa{lkfdj}'
            },
            dialogLogin: {
              type: Boolean,
              value: true
            },
            validateField: {
              type: Boolean,
              value: false
            },
            user: {
              type: String,
              value: ""

            },
            password: {
              type: String,
              value: ""
            },
            error: {
              type: String,
              value: ""
            },
            usuarios: {
            type: Array,
            notify:true
          },
          test :{
            type: String,
            value: ""
          }
        }
      }
      _importServiceGet(){
        if(this.user == " "){
          this.error="¡ Datos incorrectos !";
          this.set('validateField', false);
        }else if(this.password  == " "){
          this.error="¡ Datos incorrectos !";
          this.set('validateField', false);
        }else{
          var url="http://localhost:3002/users/"+this.user+"/"+this.password;
          var request = new XMLHttpRequest();
          request.open ("GET",url,false);
          request.setRequestHeader("Accept","application/json");
          request.send();
          this.usuarios = JSON.parse(request.responseText);
        }

      }
      _login() {
        if(this.user === ''){
          this.error="¡ Datos incorrectos !";
          this.set('validateField', false);
        }
        else if(this.password  === ''){
          this.error="¡ Datos incorrectos !";
          this.set('validateField', false);
        }
        else{
          this._importServiceGet();
          if(this.usuarios.length > 0){
            if(this.usuarios[0].user !== this.user ){
              this.error="¡ Datos incorrectos !";
              this.set('validateField', false);
            }else if(this.usuarios[0].password !== this.password ){
              this.error="¡ Datos incorrectos !";
              this.set('validateField', false);
            }else {
                this.set('validateField', true);
                this.set('dialogLogin', false);
                this.set('route.path', 'gestor-modules');
              }
          }else
          {
            this.error="¡ Datos incorrectos !";
            this.set('validateField', false);
          }
        }
      }

      connectedCallback() {
         super.connectedCallback();
       }
  }
  window.customElements.define(LoginUserApp.is, LoginUserApp);
  </script>
</dom-module>
