<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<dom-module id="visor-tabla-user">

    <template>
        <style>

        .card {
            background: #ffffff;
            max-width: 400px;
            padding: 24px;
            margin: 0 auto;
        }
        th:{
          background:#ddd;
        }

        </style>

        <paper-material class="card" elevation="0">
          <table dir="ltr" width="100%" border="1"
                summary="purpose/structure for speech output">

            <thead>
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Password</th>
              </tr>
            </thead>
            <template is="dom-repeat" items={{valueData}} as="data">
            <tbody>
              <tr>
                <td>
                  {{data.user}}
                </td>
                <td>
                  {{data.password}}
                </td>
              </tr>
            </tbody>
            </template>
          </table>
        </paper-material>
      </template>

    <script>

        /**
         * @customElement
         * @polymer
         */
        class VisorTablaUser extends Polymer.Element {
            static get is() { return 'visor-tabla-user'; }
            static get properties() {
                return {
                  valueData :{
                    type: Array
                  }
            }
          }
        }



        window.customElements.define(VisorTablaUser.is, VisorTablaUser);
    </script>
</dom-module>
