<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/movimientos-registros/movimientos-registros.html">
<link rel="import" href="/src/movimientos-users/movimientos-users.html">


<dom-module id="gestor-modules">
    <template>
    <style>
      paper-button {
        background-color: var(--paper-blue-500);
        color: white;
        padding: 7px 200px 20px 200px;
        top: 15px;
      }
      div {
        position: absolute;
        top: 50%;
        left: 25%;
         /* si el contenedor es de 200 x 200 */
      }
      table{
        width: 80%;
      }
      div{
        color : red;
      }
    </style>



    <iron-form>
      <form method="get" action="/form/handler">
        <div align="center">
          <table  align="center" >
              <tr>
                <td>
                    <paper-button raised on-tap="_selectModuleMov">Gestor Movimientos</paper-button>
                </td>
                <td>
                    <paper-button raised on-tap="_selectModuleUser">Gestor Usuarios</paper-button>
                </td>

              </tr>
          </table>
        </div>

      </form>
    </iron-form>
    <app-location route="{{route}}"></app-location>
  </template>

  <script>

      class GestorModulesApp extends Polymer.Element {
        static get is() { return 'gestor-modules'; }
        static get properties() {
          return {
            prop1: {
              type: String,
              value: 'test-app'
            },

          };
        }

        _selectModuleMov(){
          console.log(this.data);
          this.set('route.path', 'movimientos-registros');

        }
        _selectModuleUser(){
          console.log(this.data);
          this.set('route.path', 'movimientos-users');
        }

      }

      window.customElements.define(GestorModulesApp.is, GestorModulesApp);
    </script>
  </dom-module>
