<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/visor-tabla-user/visor-tabla-user.html">



<dom-module id="movimientos-users">

    <template>
        <style>
        .body { background-color: #FF0000; }

            body {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-size: 14px;
                margin: 0;
                padding: 24px;
                background-color: #FAFAFA;
            }

            .card {
                background: #ffffff;
                max-width: 400px;
                padding: 24px;
                margin: 0 auto;
            }
            :host {
                display: block;
            }

            .form-title {
                margin-bottom: 20px;
            }

            .avatar {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                background: #3367d6;
                margin-right: 20px;
            }

            .company {
                color: #3367d6;
                font-size: 20px;
                font-weight: 200;
            }
            paper-button {
                background-color: #4285f4;
                color: #fff;
                margin-top: 50px;
                width: 100%;
            }

        </style>



        <body class="body" unresolved>
            <paper-material class="card" elevation="0">
                <div class="horizontal layout center form-title">
                    <table>
                        <tr>
                            <td><div class="avatar" item-icon></div></td>
                            <td><div class="flex company">Gestor Usuarios</div></td>
                        </tr>
                    </table>
                </div>
                <form is="iron-form" id="form" method="post" action="/checkout">
                    <paper-input id="user" label="Usuario" value={{user}} invalid="{{validateField}}" required></paper-input>
                    <paper-input id="password" label="Password" value={{password}} invalid="{{validateField}}" required ></paper-input>
                    <paper-button on-click="_insertarUser">Insertar</paper-button>
                </form>
            </paper-material>
            <iron-ajax url="http://localhost:3002/users" handel-as="json" auto last-response="{{valueData}}" ></iron-ajax>
            <visor-tabla-user value-data="{{valueData}}"></visor-tabla-user>

        </body>
      </template>

    <script>

        /**
         * @customElement
         * @polymer
         */
        class MovUsers extends Polymer.Element {
            static get is() { return 'movimientos-users'; }
            static get properties() {
                return {
                    valueData: {
                        type: Array,
                    },
                    dataResponse: {
                        type: Array,
                    },
                    user: {
                      type: String,
                    },
                    password: {
                      type: String,
                    },
                    validateField: {
                      type: Boolean,
                      value: false
                    }

                };

            }
            ready() {
                super.ready();
              //  this._importServiceGet();
              //  this._consultaData();
              }
              _insertarUser(){

                  if(this.user == ""){
                    this.validateField = true;
                  }
                  else if(this.password == "") {
                    this.validateField = true;
                  }else{
                    var url="http://localhost:3002/users";
                    var request = new XMLHttpRequest();
                    request.open("POST",url,false);
                    request.setRequestHeader("Accept","application/json");
                    request.setRequestHeader("Content-Type","application/json");

                    var nuevoUser = {
                      "user":""+this.user+"",
                      "password":""+this.password+""
                    };
                    console.log(nuevoUser);

                    var body = JSON.stringify(nuevoUser);
                    request.send(body);
                    this.respuesta = request.responseText;
                    console.log(this.repuesta);
                    this._importServiceGet();
                    this._consultaData();
                    this.user = "";
                    this.password = "";
                  }
              }

            _importServiceGet(){

              var url="http://localhost:3002/users";
              var request = new XMLHttpRequest();
              request.open ("GET",url,false);
              request.setRequestHeader("Accept","application/json");
              request.send();
              this.dataResponse = JSON.parse(request.responseText);

            }

         _consultaData(){
            this.set('valueData', this.dataResponse);
            console.log(this.valueData);
          }


          }
        window.customElements.define(MovUsers.is, MovUsers);
    </script>
</dom-module>
