<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-user-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUserApp extends Polymer.Element {
      static get is() { return 'login-user-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-user-app'
          }
        };
      }
    }

    window.customElements.define(LoginUserApp.is, LoginUserApp);
  </script>
</dom-module>
