<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/visor-tabla/visor-tabla.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">




<dom-module id="movimientos-registros">

    <template>
        <style>
        .body { background-color: #FF0000; }

            body {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-size: 14px;
                margin: 0;
                padding: 24px;
                background-color: #FAFAFA;
            }

            .card {
                background: #ffffff;
                max-width: 35%;
                padding: 24px;
                margin: 0 auto;
            }
            :host {
                display: block;
            }

            .form-title {
                margin-bottom: 20px;
            }

            .avatar {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                background: #3367d6;
                margin-right: 20px;
            }

            .company {
                color: #3367d6;
                font-size: 20px;
                font-weight: 200;
            }
            paper-button {
                background-color: #4285f4;
                color: #fff;
                margin-top: 50px;
                width: 100%;
            }


        </style>



        <body class="body" unresolved>
            <paper-material class="card" elevation="0">
                <div class="horizontal layout center form-title">
                    <table>
                        <tr>
                            <td><div class="avatar" item-icon></div></td>
                            <td><div class="flex company">Gestor Movimientos</div></td>
                        </tr>
                    </table>
                </div>
                <form is="iron-form" id="form" method="post" action="/checkout">
                   <!--<paper-input id="idcliente" label="Id Cliente" value={{idcliente}} invalid="{{validateField}}"  required ></paper-input>-->
                   <paper-dropdown-menu label="Seleccione Celular" value="{{selected}}">
                    <paper-listbox slot="dropdown-content" selected="0">
                      <paper-item></paper-item>
                      <paper-item value="1">Iphone X</paper-item>
                      <paper-item value="2">Samsumg 10</paper-item>
                      <paper-item value="3">Huawei Mate 10</paper-item>
                      <paper-item value="4">Motorola</paper-item>
                    </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-input value="$ {{valueProducto}}" id="valor" Label="Precio Unidad"disabled></paper-input>
                    <paper-input id="cantidad" label="Cantidad" value="{{cantidad}}" invalid="{{validateField}}" required ></paper-input>
                    <paper-input id="observacion" label="Observaciones" value="{{observacion}}" invalid="{{validateField}}" required ></paper-input>
                    <paper-button on-click="_insertar">Insertar</paper-button>
                </form>
            </paper-material>
            <iron-ajax url="http://localhost:3002/movimientos" handel-as="json" auto last-response="{{valueData}}" ></iron-ajax>
            <visor-tabla value-data="{{valueData}}"></visor-tabla>

        </body>
      </template>

    <script>

        /**
         * @customElement
         * @polymer
         */
        class MovRegistros extends Polymer.Element {
            static get is() { return 'movimientos-registros'; }
            static get properties() {
                return {
                    valueData: {
                        type: Array,
                    },
                    dataResponse: {
                        type: Array,
                    },
                    idcliente:{
                      type: String
                    },
                    nombre:{
                      type: String
                    },
                    apellido:{
                      type: String
                    },
                    validateField: {
                      type: Boolean,
                      value: false
                    },
                    selected:{
                      type: String,
                      observer: "_cambioValor"
                    },
                    valueProducto:{
                      type: Number
                    },
                    urlImage:{
                      type: String
                    }

                };

            }
            ready() {
                super.ready();
                //this._importServiceGet();
              //  this._consultaData();
              }

            _importServiceGet(){
                var url="http://localhost:3002/movimientos";
                var request = new XMLHttpRequest();
                request.open ("GET",url,false);
                request.setRequestHeader("Accept","application/json");
                request.send();
                this.dataResponse = JSON.parse(request.responseText);

            }

         _consultaData(){
            this.set('valueData', this.dataResponse)
          }
          _cambioValor(){

            if(this.selected === "Iphone X"){
              this.valueProducto = 4000000;
              this.urlImage = '/src/movimientos-registros/iphone.jpg';
            }
            if(this.selected === "Samsumg 10"){
              this.valueProducto =  4200000;
              this.urlImage = '/src/movimientos-registros/samsumg.jpg';
            }
            if(this.selected === "Motorola"){
              this.valueProducto = 1000000;
              this.urlImage = '/src/movimientos-registros/motorola.jpg';
            }
            if(this.selected === "Huawei Mate 10"){
              this.valueProducto = 3500000;
              this.urlImage = '/src/movimientos-registros/hawei.jpg';
            }
          }
          _insertar(){

            if(this.cantidad == ""){
              this.validateField = true;
            }
            else if(isNaN(parseInt(this.cantidad))){
              this.validateField = true;
            }else if(this.selected == "") {
              this.validateField = true;
            }else{
              var url="http://localhost:3002/movimientos";
              var request = new XMLHttpRequest();
              request.open("POST",url,false);
              request.setRequestHeader("Accept","application/json");
              request.setRequestHeader("Content-Type","application/json");

              var nuevoCliente = {
                "url":""+this.urlImage+"",
                "producto":""+this.selected+"",
                "valor":""+this.valueProducto+"",
                "cantidad":""+this.cantidad+"",
                "valorTotal":""+this.valueProducto * this.cantidad+"",
                "observacion":""+this.observacion+""
              };
              console.log(nuevoCliente);

              var body = JSON.stringify(nuevoCliente);
              request.send(body);
              this.respuesta = request.responseText;
              console.log(this.repuesta);
              this.noCargados = true;
              this._importServiceGet();
              this._consultaData();
              this.cantidad = "";
              this.selected = "";
              this.observacion = "";
              this.valor = "";
            }
          }
        }



        window.customElements.define(MovRegistros.is, MovRegistros);
    </script>
</dom-module>
